

@font-face {
    font-family: googlesans;
    src: url(GoogleSans-Regular.ttf);
  }

  * {
    font-family: googlesans;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch !important;
}

.margin {
    margin-top: 100px !important;
}

.timer {
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.trip {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.btn {
    outline: none;
    border: none;
    background-color: #c7c5ff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 1, 87);
    font-size: 25px;
    margin: 0px auto;
    cursor: pointer;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.rule {
    margin: 20px;
}

.days-holder {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.day {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(199, 197, 255, .3);
    padding: 15px 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.day-subject {
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 18px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.onoffswitch {
    position: relative; width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #E3E3E3; border-radius: 30px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 26px;
    border: 2px solid #E3E3E3; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #C7C5FF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #C7C5FF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}